Plugins>Analyze>Width_Profile, "width profile by local thickness", width_profile_by_local_thickness.ijm
Plugins>Analyze>Width_Profile, "width profile voronoi", width_profile_voronoi.ijm
Plugins>Analyze>Width_Profile, "width profile perpendicular to inertia axis", width_profile_perpendicular_to_inertia_axis.ijm
Plugins>Analyze>Width_Profile, "width profile perpendicular to centerline", width_profile_perpendicular_to_centerline.ijm
Plugins>Analyze>Width_Profile>Tools, "line mask to line roi", line_mask_to_line_roi.ijm
Plugins>Analyze>Width_Profile>Tools, "smooth mask", smooth_mask.ijm
Plugins>Analyze>Width_Profile>Tools, "select centerline", select_centerline.ijm
Plugins>Analyze>Width_Profile>Tools, "remeasure thickness", remeasure_thickness.ijm
Plugins>Analyze>Width_Profile, "width profile about", width_profile_about.ijm

