body {
  margin-left: 15px;
  margin-top: 5px;
  max-width: 40em;
}

a:link {color: #0044aa; text-decoration: none;}
a:visited {color: #0044aa; text-decoration: none;}
a:hover {color: #003377; text-decoration: underline;}
a:active {color: red; text-decoration: underline;}

h1 {color: #333333; font-size: 165%; font-family: sans-serif; background-color: #99aaff; margin-top: 0px; margin-bottom: 0px;}
h2 {color: #222222; font-size: 135%; font-family: sans-serif; margin-bottom: 2px}
h3 {color: #222222; font-size: 110%; font-family: sans-serif; margin-bottom: 2px}
h4 {color: #222222; font-size: 100%; font-family: sans-serif; margin-bottom: 2px}

i {color: #772200;}
small {color: #404040;}

p.navbar {
  color: #777777;
  font-family: sans-serif;
  margin-top: 0px;
  margin-bottom: 3px
}
p.navbar a:link {color: #004276; text-decoration: none}
p.navbar a:visited {color: #004276; text-decoration: none}
p.navbar a:hover {color: #004276; text-decoration: underline}
p.navbar a:active {color: red; text-decoration: none}

div.small {font-size: 85%;}
div.large {font-size: 115%; margin-left: 15px}

ul {list-style-type: circle}

